openapi: 3.0.0   # Open api version

info:
  title: OpenChat
  version: "v0.2"
  contact:
    name: AInizer - Lee hoseop
  description: |
    Opensource chatting framework for generative models.
    ---
      How to use:
      * Fill the text. This is the message you will send to the AI.
      * After a few seconds, the AI will respond.
    ---
    And you can use this in [demo page](https://main-openchat-fpem123.endpoint.ainize.ai/).

    Origin Git repo >> [hyunwoongko/openchat](https://github.com/hyunwoongko/openchat)

servers:
  - url: https://main-openchat-fpem123.endpoint.ainize.ai/

paths:
  /base64:
    post:
      requestBody:
        required: true
        description: |
          This request can get the base64 encoded user_id.

              user_id: Kim

          curl example

              curl -X POST "https://main-openchat-fpem123.endpoint.ainize.ai/base64" -H "accept: application/json" -H "Content-Type: multipart/form-data" -F "user_id=Kim"

          --
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: "User id to get base64 user_id for chat."
              required:
                - user_id
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"


  /send/S2lt:
    post:
      requestBody:
        required: true
        description: |
          This request sends a message to the AI.

          Request body example

              bot_id: Mr.Bot
              text: Hey, What are you going to do?
              topic: weekend
              agent: dialogpt.medium


          curl example

            You can change the "S2lt" of the url to any name you want.

              curl -X POST "https://main-openchat-fpem123.endpoint.ainize.ai/send/S2lt" -H "accept: application/json" -H "Content-Type: multipart/form-data" -F "bot_id=Mr.Bot" -F "text=Hey, What are you going to do?" -F "topic=weekend" -F "agent=dialogpt.medium"

          --
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                bot_id:
                  type: string
                  description: "This is the name of the bot."
                text:
                  type: string
                  description: "This is the message you will send to the AI."
                topic:
                  type: string
                  description: "This is the topic of the chat."
                agent:
                  type: string
                  enum: ["BLENDER.SMALL", 'DIALOGPT.MEDIUM', 'GPTNEO.LARGE']
                  description: "The model type of the Bot you want to chat with."
              required:
                - text
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"


